Repository deegree/deegree-ogcapi, pull requests merged in 2024-08, with the labels that each got.

#128 Updates gh action building docker image to use release version 1.3.0
  .github/workflows/build_docker.yml
  docker/1.3/Dockerfile
Labels: build

#129 Fixes the repository url for downloading WAR file from nexus
  docker/1.3/Dockerfile
Labels: build

#127 Fixed text.slice for non string values
  deegree-ogcapi-features/src/main/resources/feature.html
  deegree-ogcapi-features/src/main/resources/features.html
Labels: bug

#114 Enhance documentation about server side caching of HTML view
  deegree-ogcapi-documentation/src/main/asciidoc/help.adoc
Labels: documentation
